.footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 50);
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  & > span {
    display: grid;
    gap: 0.5rem;

    grid-template-areas: ". . . . . . . . . . .";

    @media only screen and (max-width: 1100px) {
      grid-template-areas: "." "." "." "." "." ".";
    }

    & > a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & > span {
      color: rgba(255, 255, 255, 0.5);

      @media only screen and (max-width: 1100px) {
        display: none;
      }
    }
  }

  & > footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.9rem;
    justify-content: flex-end;

    @media only screen and (max-width: 1100px) {
      align-items: end;
      flex-direction: column;
    }
  }
}
