.footer {
  padding: 1rem;
  background-color: var(--footer);
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  & > span {
    display: grid;
    gap: 0.5rem;

    grid-template-areas: ". . . . . . . . . . .";

    & > a {
      color: var(--text);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & > span {
      color: var(--mediumBackground);
    }
  }

  & > footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.9rem;
    justify-content: flex-end;
  }
}

.footerSmall {
  @media screen and (min-width: 768px) {
    background-image: none;
    background: #000;
  }

  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-image: url("/svg/waves.svg");
  background-size: cover;
}

.smallTitle {
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
}

.footerLinks {
  display: flex;
  gap: 0.5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    & > span {
      display: none;
    }
  }
}

.footerLinkTextHere {
  color: var(--zea-green);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.footerLink {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footerBottom {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  display: flex;
  gap: 0.4rem;
}
