@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --zea-green: #1be253;

  --background: #000d17;
  --text: #fff;
  --lighterBackground: rgba(255, 255, 255, 0.02);
  --mediumBackground: rgba(255, 255, 255, 0.5);
  --tableBackground: #0f1f2c;
  --headingDecoration: #fff;
  --footer: rgba(0, 0, 0, 50);
}

[data-theme="light"] {
  --background: #fff;
  --text: #000;
  --lighterBackground: rgba(0, 0, 0, 0.02);
  --mediumBackground: rgba(0, 0, 0, 0.5);
  --tableBackground: rgb(240, 240, 240);
  --headingDecoration: rgba(0, 0, 0, 0.5);
  --footer: rgba(0, 0, 0, 0.2);
}

[data-theme="verydark"] {
  --background: #000;
  --text: #fff;
  --lighterBackground: rgba(255, 255, 255, 0.02);
  --mediumBackground: rgba(255, 255, 255, 0.5);
  --tableBackground: #111;
  --headingDecoration: #fff;
  --footer: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-size: 1.2rem;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.nostyle {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.header {
  background-image: url("/svg/home-background.svg");
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  & > img {
    width: 40%;
    max-width: 196px;
  }

  & > .down {
    width: 64px;
  }
}

.primary-bottom {
  padding: 5rem;

  @media only screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.primary {
  padding: 5rem;
  padding-bottom: 0 !important;

  @media only screen and (max-width: 768px) {
    padding: 1rem;
  }
}

h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  display: block;
  color: var(--zea-green);
  font-size: 2rem;
}

h3 {
  margin: 0;
  margin-bottom: 0.35rem;
  padding: 0;
  display: block;
  color: var(--zea-green);
  font-size: 1.25rem;
}

.headingDecoration {
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--headingDecoration);
  margin-bottom: 0.5rem;
}

a {
  color: rgb(0, 125, 163);

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  padding-top: 0;
}

.noscript {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.7rem;
    max-width: 43rem;
    width: auto;
    background-color: #fb7272;
    border-radius: 0.5rem;

    & > i {
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  animation: shimmer 2s infinite;
  animation-timing-function: linear;
  background-color: transparent;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 1000px 100%;
}
